* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'StarJedi';
    src: url('../fonts/DISTGRG_.ttf') format('truetype');
}

body {
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}

#banner {
    font-family: 'StarJedi', sans-serif;
    text-align: center;
    border: solid white;
    color: #FFE81F;
    background-color: rgb(26 58 92/50%);

    margin-bottom: 0.5em;
}

#nav {
    text-align: center;
    align-items: flex-end;
    justify-content: space-evenly;
    margin-bottom: 0.5em;

}

#nav a {
    align-items: flex-end;

    justify-content: space-evenly;
    text-align: center;
    text-decoration: none;
    color: white;
}


.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    border: white solid;
    color: whitesmoke;
    background-color: rgb(13 27 42 /50%);
    font-family: 'StarJedi', sans-serif;

}

.tab {
    cursor: pointer;
}

.tab:hover {
    background-color: #F0C040;
}

.tab.active {
    background-color: rgb(240, 192, 78 / 10%);
}

[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}



#table-results {
    margin: 0.5em;
    padding: 0.5em;
    background-color: rgb(255 255 255 / 10%);
    backdrop-filter: blur(8px);
}


#columns {
    background-color: #1A3A5C;



}

#columns th {
    color: #FFE81F;
    letter-spacing: 0.1em;
    border-right: 1px solid #4A90D9;
    font-family: 'StarJedi', sans-serif;

}




#rows td {
    background-color: #0D1B2A;
    color: #F5F5F5;
    border-right: 1px solid #4A90D9;
    padding: 0.5em;

}